.container {
  max-width: 1280px;
  position: relative;
  padding: 0 1.5rem;
  margin: auto;
  text-align: center; }

.card {
  background: #f9f9f9;
  border: 1px solid #cccccc;
  padding: 1.5rem;
  border-radius: 25px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  -webkit-filter: drop-shadow(0px 5px 10px #cccccc);
  filter: drop-shadow(0px 5px 10px #cccccc); }
  .card h1 {
    font-size: 2rem;
    color: #0072ae;
    padding-bottom: .75rem; }
  .card h3 {
    font-size: 1.2rem;
    color: #080f5b; }
  .card p {
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 1rem; }
    .card p span {
      color: #080f5b;
      font-weight: bold; }

.background-card {
  margin-bottom: 1rem; }
  .background-card img {
    height: auto;
    width: auto;
    max-height: 250px;
    border-radius: 15px;
    border: 5px solid #cccccc; }
  .background-card h2 {
    text-transform: uppercase;
    color: #004c8c; }

.btn-learn {
  display: block;
  background: #e4c580;
  background: #f8bd7f;
  color: black;
  padding: 1rem 2.5rem;
  border-radius: 25px;
  transition: all .5s; }
  .btn-learn:hover {
    background: #f5a44f; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #d0eaff;
  background: url(/img/webb.png) repeat; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

#main-nav {
  background: #0072ae;
  box-shadow: 0px 0px 10px #979797; }
  #main-nav #nav-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
    background: white; }
    #main-nav #nav-heading div {
      padding-left: 1rem; }
      #main-nav #nav-heading div h1 {
        font-size: 2.5rem; }
      #main-nav #nav-heading div span {
        float: right; }
  #main-nav .nav-content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; }
    #main-nav .nav-content ul {
      display: flex; }
  #main-nav a {
    color: #f9f9f9;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    width: 150px;
    cursor: pointer;
    transition: all .5s; }
    #main-nav a:hover {
      background: #004c8c;
      color: white; }
  #main-nav .current {
    background: #004c8c;
    color: white;
    font-weight: bolder; }
  #main-nav img {
    height: auto;
    width: auto;
    max-height: 5rem; }

#home #home-a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.5rem 0;
  align-items: center;
  text-align: left; }
  #home #home-a h1 {
    font-size: 3rem;
    color: #0072ae; }
  #home #home-a span {
    color: #004c8c; }
  #home #home-a .images {
    display: flex;
    justify-content: center;
    align-items: center; }
    #home #home-a .images img {
      padding-left: .5rem;
      height: auto;
      width: auto;
      max-height: 250px;
      border-radius: 50%; }

#home #home-b {
  padding-bottom: 3rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 2fr 1fr 1fr; }
  #home #home-b #our-prosthetics .inner-cols {
    display: grid;
    margin: 1rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    text-align: center; }
    #home #home-b #our-prosthetics .inner-cols h3 {
      color: #222; }
    #home #home-b #our-prosthetics .inner-cols div {
      padding: .5rem;
      background: #ededed;
      border-radius: 15px; }

#about .about-banner {
  width: 100%;
  height: 35vh;
  justify-content: center;
  object-fit: cover;
  box-shadow: 0px 5px 10px #cccccc; }

#about #about-a {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  padding: 2rem 0;
  align-items: start;
  justify-content: center; }
  #about #about-a .background {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem; }

#contact #contact-a {
  margin: 2rem 0;
  background: #0072ae;
  overflow: hidden;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  box-shadow: 0 0 10px #cccccc; }
  #contact #contact-a iframe {
    width: 100%;
    display: block; }
  #contact #contact-a #tab-contents #Hamilton {
    display: none; }
  #contact #contact-a #tab-contents #StLucia {
    display: none; }
  #contact #contact-a .loc-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #contact #contact-a .loc-tabs .tablink {
      display: block;
      width: 100%;
      padding: 2rem 0;
      margin: 0;
      background: #0072ae;
      color: white;
      font-size: 1.25rem;
      font-weight: bold;
      transition: all .5s;
      border-bottom: 1px solid #004c8c; }
      #contact #contact-a .loc-tabs .tablink:hover {
        background: #004c8c; }

#footer {
  padding: 4rem 0;
  box-shadow: 0px 0px 10px #cccccc;
  background: #f9f9f9; }
  #footer .footer-content {
    display: flex;
    justify-content: space-between;
    color: #222; }
    #footer .footer-content .footer-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      #footer .footer-content .footer-left .footer-title {
        display: flex;
        align-items: center; }
        #footer .footer-content .footer-left .footer-title img {
          height: auto;
          width: auto;
          max-height: 50px; }
        #footer .footer-content .footer-left .footer-title h1 {
          font-size: 1.5rem; }
    #footer .footer-content .locations {
      display: flex;
      text-align: right; }
      #footer .footer-content .locations div {
        padding-left: 2.5rem; }
      #footer .footer-content .locations h1 {
        text-transform: uppercase;
        padding-bottom: 1rem; }
      #footer .footer-content .locations .bottom-line {
        justify-content: right; }
