@import 'config';
@import 'utilities';

* {
    padding: 0;
    margin: 0;
}

body {
    // font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    // background: $bg-color;
    background: white;
    // background: url(/img/webb.png) repeat;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#main-nav {
    background: $eye-color;
    // background: url(/img/nav-banner.png) repeat;

    box-shadow: 0px 0px 10px #979797;

    #nav-heading{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem 0;
        background: white;
        div {
            padding-left: 1rem;
            h1{
                // color: $secondary-color;
                font-size: 2.5rem;
            }
            span {
                // color: $tertiary-color;
                float: right;
            }
        }
    }

    .nav-content {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        ul {
            display: flex;
        }
    }

    a {
        color: $bg-color-light;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        display: block;
        width: 150px;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            background: $eye-color-dark;
            // border-radius: 25px 25px 0 0;
            color: white;
        }
    }

    img {
        height: auto;
        width: auto;
        max-height: 5rem;
    }
}

#home {
    background: url(/img/webb.png) repeat;
    #home-a {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2.5rem 0;
        align-items: center;
        text-align: left;
        h1 {
            font-size: 3rem;
            color: $eye-color;
        }
        span {
            color: $eye-color-dark;
        }
        .images {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                padding-left: .5rem;
                height: auto;
                width: auto;
                max-height: 250px;
                border-radius: 50%;
            }
        }
    }

    #home-b {
        padding-bottom: 3rem;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 2fr 1fr 1fr;

        // Our prosthetics needs special formatting for inner content
        #our-prosthetics {
            .inner-cols {
                display: grid;
                margin: 1rem 0;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                text-align: center;

                h3 {
                    color: #222;
                }
                
                div{
                    padding: .5rem;
                    background: #ededed;
                    border-radius: 15px;
                }
            }
        }
    }
}

#about {
    .about-banner {
        width: 100%;
        height: 35vh;
        justify-content: center;
        object-fit: cover;
        box-shadow: 0px 5px 10px #cccccc;
    }
    #about-a {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 1.5rem;
        padding: 2rem 0;
        align-items: start;
        justify-content: center;

        .background {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1.5rem;
        }
    }
}

// Needed to fix Chrome and Edge error with :focus creating black box border 
*,*:focus,*:hover{
    outline:none;
}

#contact {
    .container {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 1.5rem;
    }
    #contact-a {
        margin: 2rem 0;
        box-shadow: 0 5px 10px #cccccc;
        border-radius: 25px;
        border: 1px solid #cccccc;
        padding: 2rem 3rem;

        #contact-form {
            display: flex;
            flex-direction: column;
            height: 90%;
            justify-content: space-between;
        }

        h2 {
            color: $primary-color;
            padding-bottom: 1rem;
        }

        .text-fields {
            display: flex;
            flex-direction: column;
            // padding: .5rem 1.5rem;

            .text-input {
                font-size: 1rem;
                padding: 1rem;
                margin-bottom: 1rem;
                border-radius: 25px;
                border: 1px solid $eye-color;
            }

            .text-input:focus {
                // border: 1px solid $tertiary-color;
                -webkit-box-shadow: 0 0 5px $eye-color;
                -moz-box-shadow: 0 0 5px $eye-color;
                box-shadow: 0 0 5px $eye-color;
            }

            textarea {
                height: 200px;
            }
        }

        button {
            display: block;
            border: none;
            font-size: 1rem;
        }
    }

    #contact-b {
        margin: 2rem 0;
        background: $eye-color;
        overflow: hidden;
        border-radius: 25px;
        // display: grid;
        // grid-template-columns: 4fr 1fr;
        box-shadow: 0 5px 10px #cccccc;

        iframe {
            width: 100%;
            display: block;
        }

        #tab-contents {
            #Hamilton {
                display: none;
            }
            #StLucia {
                display: none;
            }
        }

        .loc-tabs {
            display: flex;
            align-items: center;
            
            .tablink {
                display: block;
                width: 100%;
                padding: 2rem 0;
                margin: 0;
                background: $eye-color;
                color: white;
                font-size: 1.25rem;
                text-transform: uppercase;
                font-weight: bold;
                transition: all .5s;
                border-bottom: 1px solid $eye-color-dark;
                &:hover {
                    background: $eye-color-dark;
                }
            }
        }
    }
}

#footer {
    padding: 4rem 0;
    box-shadow: 0px 0px 10px #cccccc;
    background: #f9f9f9;

    .footer-content {
        display: flex;
        justify-content: space-between;
        color: #222;

        .footer-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .footer-title {
                display: flex;
                align-items: center;
                img {
                    height: auto;
                    width: auto;
                    max-height: 50px;
                }
                h1 {
                    font-size: 1.5rem;
                }
            }
        }

        .locations {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // gap: 1.75rem;

            display: flex;
            text-align: right;

            div {
                // border-left: 1px solid #ccc;
                padding-left: 2.5rem;
            }

            h1 {
                text-transform: uppercase;
                padding-bottom: 1rem;
            }

            .bottom-line {
                justify-content: right;
            }
        }
    }
}